.selectnone {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #aaa;
  text-align: center;
  font-family: verdana,sans-serif;
  font-size: 0.85rem;
  background: #444;
}

textarea {
  color: #aaa;
  font-family: lucida console;
  font-size: 0.7rem;
  background: #000;
  border: 0px;
  resize: vertical;
}

a:link {
  color: #ccc;
}

a:visited {
  color: #aaa;
}

a:hover {
  color: #fc0;
}

a:active {
  color: #fe0;
}

td {
  font-size: 0.8rem;
  padding: 1px;
}

.cMainDiv {
  text-align: left;
  min-width: 340px;
}

.cMainBlockDiv {
  text-align: left;
  min-width: 340px;
  display: inline-block;
}

.cRoundedCentered {
  border-radius: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.2rem;
  vertical-align: middle;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.switch_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .switch_slider {
  background-color: #f90;
}

input:focus + .switch_slider {
  box-shadow: 0 0 0px #f90;
  outline: none;
}

input:checked + .switch_slider:before {
  -webkit-transform: translate(306px, -1px);
  -ms-transform: translate(306px, -1px);
  transform: translate(306px, -1px);
}

.switch_slider.round {
  border-radius: 34px;
}

.switch_slider.round:before {
  border-radius: 50%;
}

.range_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 34px;
  border-radius: 17px;
  background: #000;
  outline: none;
  opacity: 1;
  -webkit-transition: .3s;
  transition: opacity .3s;
}

.range_slider:disabled {
  opacity: 0.3;
}

.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: transparent;
  cursor: pointer;
}

.range_slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: transparent;
  cursor: pointer;
}
